#Logo{
  top:0;
  left:0;
  right:0;
  background-color: #ffe2b2;
  position: fixed; 
  font-style: sans-serif;
  font-weight: thin;
  color:#BF9368;
}

#Logo img{
   height: 90%;
   width:60%;
   float:left;
   padding-right: 3%;
   padding-top: 3%;
}

#Logo p{
	padding-top: 3%;
}


#read-time {
	background-color: #ffe2b2;
	margin-left:0;
	right:0;
	margin-top: 3em;
	font-style: sans-serif;
  	font-weight: thin;
  	font-size: 2em;
}

#writer {
	font-size: 1em;
	font-weight: thin;
	font-family: sans-serif;
}

#container {
    width: 300px;
    background-color: #ffcc33;
    margin: auto;
}
#emoticon {
    width: 35%;
    float: left;
    height: 10em;
}
#sentiment {
    width: 65%;
    float: left;
    height: 10em;
}

#percentage {
	font-size: 2em;
}

#keywords {
	color: #ffe2b2;
	margin-rights: 0;
	margin-left: 0;
}

body{
	background-color: #ffeed0;
	width: 300px;
	height: 500px;
	
}

.positive {
	color: green;
}

.negative {
	color: red;
}
.loading { margin: auto; }

.loading span {
    line-height: 32px;
    margin-left: 12px;
    font-size: 16px;
    vertical-align: middle;
}

.loading img { vertical-align: middle; }

.loading_wrp {
    background-color: #FFF;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1020;
}

.loading_wrp .x16 span {
    line-height: 16px;
    font-size: 12px;
    margin-left: 6px;
}

.loading_wrp .x32 img {
    width: 32px;
    height: 32px;
}