#Logo{
  top:0;
  left:0;
  right:0;
  background-color: #ffe2b2;
  position: fixed; 
  font-style: normal;
  font-weight: 300;
  font:"proxima-nova";
  color:#BF9368;
}

#Logo img{
   height: 90%;
   width:60%;
   float:left;
   padding-right: 3%;
   padding-top: 3%;
}

#Logo p{
	padding-top: 3%;
}


#time {
	background-color: #ffe2b2;
	left:0;
	right:0;
	margin-top: 3em;
	font-style: normal;
  	font-weight: 300;
  	font:"proxima-nova";
  	font-size: 2em;
  	
}


h1{
	font-style: normal;
  	font-weight: 400;
  	font:"proxima-nova";
  }

#container {
    width: 300px;
    margin: auto;
}
#emoticon {
    width: 120px;
    float: left;
    height: 10em;

}
#sentiment {
	padding-left: 3%;
    width: 55%;
    float: right;
    height: 10em;
    right: 0;
}


#percentage {
	display: inline-block;
	font-size: 3em;
	width: 50%;
	height: 50px;
}
#words {
	display: inline-block;
	margin-top: 0;
	padding-top: 0;
	font-size: 1.5em;
	font-style: normal;
  	font-weight: 300;
  	font:"proxima-nova";
}

#keywords {
	background-color: #ffe2b2;
	right: 0;
	left: 0;
	position: fixed;
	font-style: normal;
  	font-weight: 300;
  	font:"proxima-nova";
  	font-size: 1.5em;
  	padding:.5em;

  

}

#clear {
	clear: both;
}

#ArticleHead {
	margin-top: 5em;
}


body{
	background-color: #ffeed0;
	width: 300px;
	height: 400px;
	
}

.positive {
	color: green;
}

.negative {
	color: red;
}